{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Cápitan América</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nihil vitae tenetur id harum eos porro voluptas commodi non facilis officiis recusandae, corporis quia earum perferendis cupiditate aut dolore veniam.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/batman.jpg" class="img-thumbnail">

    </div>
</div>

{{> footer}}
